:root {
  --grey: #2e383f;
  --white: #fff;
  --pink: #b4008c;
}

* {
  margin: 0;
  box-sizing: border-box;
  letter-spacing: 1.25px;
}
/*
@font-face {
  /* font-family: Stanley;
  src: url(fonts/stanley.otf); */

main {
  background: var(--grey);
  color: white;
  font-family: "overpass", sans-serif;
}
p {
  font-family: "Source Code Pro", sans-serif;
  font-size: 18px;
}

/* Scroll to top shortcut */
#btnScrollToTop {
  position: fixed;
  right: 10px;
  bottom: 12px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-left: 2px;
  background: #b4008c;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border: none;
  outline: none;
  cursor: pointer;
}

#btnScrollToTop:active {
  background: #393e46;
}

/* end scroll to to top shortcut */

header {
  background: var(--grey);
  color: #fff;
}

#name {
  position: fixed;
  left: 0px;
  top: 40px;
  background-color: #b4008c;
  font-family: "Source Code Pro", sans-serif;
  padding: 3px;
  width: 40px;
  height: 120px;
}

#name a {
  padding: 10px 5px;
}

#name svg {
  margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  gap: 20px 30px;
  width: 90%;
  margin: 0 auto;
  height: 95vh;
}

.title {
  font-size: 3em;
  grid-row: 1 / span 2;
  grid-column: 1 / span 2;
  align-self: center;
  font-weight: 800;
}
#about {
  font-family: "Source Code Pro", sans-serif;
  font-size: 1.5em;
  grid-column: 3 / span 2;
  grid-row: 2 / span 3;
  align-self: start;
}

section:nth-of-type(even) {
  padding: 50px 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* background-color: #eee; */
  /* color: var(--grey); */
}

.project-number {
  font-size: 100px;
  opacity: 30%;
  position: absolute;
  right: 0px;
  bottom: -750px;
  transform: rotate(-90deg);
}

.firstview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 30px;
  /* background-color: #eee; */
  /* color: var(--grey); */
  justify-content: space-between;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 50px;
}

.firstview h2 {
  width: 100%;
  font-size: 1.8em;
}

h3 {
  font-family: "Source Code Pro", sans-serif;
}

.firstview a, #project2 > div a, #sterling-pics a {
  text-decoration: none;
  padding: 6px 8px;
  border: 1px solid #b4008c;
  border-radius: 4px;
  background: #b4008c;
  color: #eee;
  box-shadow: 1px 3px 8px 0.2px #393e46;
}

.firstview a:hover, footer a:hover, section:nth-of-type(3) a:hover, #sterling-pics a:hover, #project2 a:hover {
  color: #b4008c;
  background-color: #eee;
}

img {
  width: 65%;
  padding-left: 0;
  box-shadow: 0px 0px 22px #2e383f;
  border-radius: 6px;
}

ul {
  margin-bottom: 10px;
}

section:nth-of-type(2)  p {
  width: 60%;
  margin: 0 auto 1.5em 3.2em;

  font-size: 18px;
  line-height: 1.7em;
}

.firstview article {
  line-height: 35px;
}

#project2 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  margin: 0 auto 50px;
  width: 90%;
  justify-content: space-between;
  line-height: 30px;
}

section:nth-of-type(3) {

  margin-top: 50px;
}

section:nth-of-type(3) div:last-of-type {
  width: 60%;
  line-height: 1.7em;
}

section:nth-of-type(3) p {
  margin: 0 auto 1.5em 3.2em;
}

#project2 div {
  line-height: 35px;
  width: 35%;
}

footer {
  background: var(--grey);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

footer div{
  width: 100%;
  /* background: #eee; */
  font-family: 'Overpass', sans-serif;
  padding: 1.3em;
  min-height: 250px;
  text-align: center;
}

footer h2 {
  padding: 1.2em;
  color: white;
}

footer a {
  padding: .7em .9em ;
  background-color: var(--pink);
  border-radius: 6px;
  text-decoration: none;
  color: #eee;
  margin: 2em 0;
  font-family: 'Source Code Pro', sans-serif;
  border: 1px solid var(--pink);
  box-shadow: 1px 3px 8px 0.2px #393e46;
}

footer a:active {
  background-color: var(--grey);
  color: #eee;
}

#sterling-pics {
  display: flex;
  flex-direction: row-reverse;
  width: 90%;
  justify-content: space-between;
  margin: 0 auto 50px;
}

#sterling-pics > div {
  /* text-align: center; */
  padding: 16px;
  line-height: 35px;
}

section:nth-of-type(2) p {
  padding: 16px;
  line-height: 30px;
}
section:nth-of-type(even) p {
  float: right;
  width: 60%;
}



@media (max-width: 700px) {
  .title {
    font-size: 2.7em;
  }
}
@media (max-width: 500px) {
  .title {
    font-size: 1.5rem;
    grid-column: 1 / span 5;
    padding: 1em;
  }

  .grid {
    grid-template-rows: 50px 150px 1fr 50px;
    padding: 1em;
  }

  #about {
    font-size: 1em;
    grid-column: 1 / span 4;
    grid-row: 3 / span 2;
    align-items: stretch;
    transform: translateY(-50px);
  }

   img {
    margin: 0 auto;
    width: 100%;
  }
  .firstview > article, #project2 > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }


  .firstview, #project2 div {
    margin: 0 auto;
    width: 90%;
  }

  .firstview h2 {
    padding-top: 30px;
    justify-content: center;
    margin: 0 auto;
  }
  .firstview a, #project2 a {
    margin: 8px 0px;
    text-align: center;
  }
  .section-2 div > p {
    margin: 30px auto;
    width: 80%;
  }
  .project-number {
    top: 0;
  }
  section:nth-of-type(3) div:last-of-type {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
  }

}
