body {
  color: #0b2149;
  font-family: "Lato", sans-serif, "Helvetica Neue", sans-serif;
  margin: 0;
  height: 100%;
}

.wrap {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding-top: 0;
  min-height: calc(100vh - 170px);
}

main {
  margin-top: 90px;
  padding-bottom: 40px;
}

.slide-container {
  height: 300px;
  width: 100%;
  margin: 0;
}

.slide1 {
  background-image: url("../fv-images/key-in-door.jpg");
  background-position: center;
  height: 450px;
  background-size: cover;
  margin: 0;
}

.slide2 {
  background-image: url("../fv-images/frontdoors.jpg");
  height: 450px;
  background-size: cover;
  margin: 0;
}

.slide3 {
  background-image: url("../fv-images/rooftops.jpg");
  height: 450px;
  background-size: cover;
  margin: 0;
}

svg {
  margin-left: 10px;
}

.cstandard {
  width: 85%;
  margin: 0 auto;
  color: #0b2149;
  font-family: "Lato", sans-serif, "Helvetica Neue", sans-serif;
}

/* MAIN HEADER STYLING */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-bottom: solid 3px firebrick;
  border-top: solid 3px firebrick;
  padding-bottom: 3px;
  justify-content: space-between;
  box-shadow: 0 1px 2px black;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: white;
}

header img {
  padding-bottom: 10px;
}

header > div {
  display: inline-flex;
  justify-content: space-between;
}

.nav {
  align-content: center;
  background-color: white;
  margin-right: 2vw;
}

.nav button {
  color: #0b2149;
}

.dropdown .btn,
.nav a {
  background-color: white;
  color: #0b2149;
  font-family: "Lato", sans-serif, "Helvetica Neue", sans-serif;
}

.dropdown .btn:hover,
.nav a:hover {
  background: firebrick;
  border-radius: 5px;
  color: white;
}

.dropdown-item a {
  text-align: center;
}

nav .current {
  background-color: #d73030;
  color: #fff;
  border-radius: 4px;
}

/* END MAIN HEADER */
.details-heading,
.index-subheading,
.landlordcard-heading,
.property-title,
.subp-title {
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 1.8rem;
}

.subp-title {
  margin-top: 20px;
  padding-top: 40px;
  color: #0b2149;
  margin-bottom: 30px;
  font-size: 2.5em;
}

.index-title {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  color: #fff;
  width: 80%;
  margin: auto;
  padding-top: 150px;
  font-size: 3em;
  text-shadow: -1px 1px 1px #444445;
}

.card {
  box-shadow: 0px 3px 2px #f5f5f7;
}

.services-landing, .landlord-landing {
  background-image: url("../fv-images/oxford-houses-colorful.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 450px;
  margin-top: 5.8rem;
  color: #333333;
}

.landlord-landing {
  background-image: url("../fv-images/rooftops.jpg");
  color: #fff;
  background-color: #e9ecef;
}

.services-index {
  text-align: center;
  padding: 0.5rem;
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
}

.index-main {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 120px;
}

.index-main p {
  padding: 0.5em 0;
  flex-wrap: wrap;
  flex: 1;
  line-height: 1.7em;
}

.introduction {
  width: 58%;
}

.index-main div:last-child {
  width: 42%;
}

.red-line {
  border-bottom: solid 3px firebrick;
  border-top: solid 3px firebrick;
}

/* Begin card deck styling */
.card-deck {
  padding: 30px;
  margin-bottom: 25px;
}

.card-img-top {
  height: 320px;
}

.card-bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-bottom h5 {
  font-weight: bold;
}

.more-info {
  width: 60%;
  background-color: #fff;
  border: 1px solid #0b2149;
  color: #0b2149;
  border-radius: .25em;
  padding: .375rem .75rem;
  text-align: center;
  margin: 2px;
  font-size: 0.9em;
  display: inline-block;
  margin: 0 auto;
  font-weight: bold;
}

.more-info:hover {
  text-decoration: none;
  color: #fff;
  background-color: #0b2149;
}

/* end card deck styling */
.block {
  padding-top: 30px;
  padding-bottom: 30px;
}

.center {
  text-align: center;
  font-size: 1.3em;
  line-height: 1.4em;
}

.red-line > h2 {
  padding-top: 30px;
}

.landlord-card {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.landlord-card > div {
  display: flex;
  border: solid gainsboro 1px;
  min-width: 22%;
  width: 23%;
  padding: 10px;
  box-shadow: 0 4px 3px 0;
  margin: 50px 10px 50px 0;
  border-radius: 5px;
  background-color: #e9ecef;
  font-size: 1em;
  padding-bottom: 25px;
  text-align: center;
  transition: transform .5s ease-out;
  flex-direction: column;
}

.landlord-card > div > span {
  margin-top: auto;
}

.landlord-card > div:hover {
  box-shadow: 0 6px 6px 0;
  transform: translateY(-20px);
  border-bottom: firebrick solid 4px;
}

.property-main {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  font-family: "Lato", sans-serif, "Helvetica Neue", sans-serif;
}

.property-cta {
  padding: 5px;
  text-align: center;
}

.property-cta > button {
  margin-right: 10px;
}

.property-card {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: 2em auto;
  padding: 40px 20px 20px;
  border-top: solid firebrick 2px;
  color: #0b2149;
  font-family: "Lato", sans-serif, "Helvetica Neue", sans-serif;
}

.property-card img {
  border: black 1px solid;
  margin: 5px;
}

.property-card h2 {
  padding: 10px;
}

.additional {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto 60px;
  font-size: 1em;
}

.additional a {
  padding: .7em;
  background: #6f6f6f;
  border-radius: 4px;
  color: #fff;
}

.about-btn a {
  color: white;
  padding: 2px 3px;
}

.about-btn a:hover {
  text-decoration: none;
  color: firebrick;
}

.left {
  text-align: left;
}

.leftfloat {
  display: inline-block;
  width: 70%;
  padding-top: 30px;
  line-height: 1.7em;
}

.leftfloat h3, .rightfloat h3 {
  font-size: 1.7em;
  font-weight: bold;
}

.leftfloat h4, .rightfloat h4 {
  font-size: 1.3em;
}

.leftfloat-buttons,
.rightfloat-buttons {
  display: flex;
  width: 45%;
  text-align: center;
}

.rightfloat-buttons {
  float: right;
}

.leftfloat a,
.rightfloat a {
  width: 100%;
  background-color: firebrick;
  border: 1px solid firebrick;
  color: #fff;
  border-radius: .25em;
  padding: .375rem .75rem;
  text-align: center;
  margin: 2px;
  font-size: 0.9em;
  display: inline-block;
}

.leftfloat a:hover,
.rightfloat a:hover, .view-cta:hover, .about-btn:hover {
  color: firebrick;
  background-color: white;
  text-decoration: none;
}

.leftfloat a:last-child,
.rightfloat a:last-child {
  border: 1px solid grey;
  color: #676767;
  background-color: #fff;
}

.leftfloat a:last-child:hover,
.rightfloat a:last-child:hover {
  width: 100%;
  background-color: #676767;
  border: 1px solid #676767;
  color: #fff;
  border-radius: .25em;
  padding: .375rem .75rem;
  text-align: center;
  margin: 2px;
  font-size: 0.9em;
  display: inline-block;
}

.rightfloat {
  padding-top: 30px;
  display: inline-block;
  float: right;
  text-align: right;
  margin-bottom: 50px;
  width: 70%;
}

.tab-pane {
  padding-top: 10px;
}

.jumbotron {
  color: #0b2149;
}

#secondcarousel,
#features-tab,
#services-tab,
.accordion {
  display: none;
}

.cta {
  display: flex;
  justify-content: center;
}

.view-cta, .about-btn {
  width: 20vw;
  background-color: firebrick;
  border: 1px solid firebrick;
  color: #fff;
  border-radius: .25em;
  padding: .375rem .75rem;
  text-align: center;
  margin: 2px;
  font-size: 0.9em;
  display: inline-block;
}

.about-btn {
  width: 12vw;
}

.about-btn:nth-child(2) {
  background-color: grey;
  border: 1px solid grey;
}

.about-btn:nth-child(2):hover {
  background-color: white;
  color: grey;
}

input[type="radio"] {
  margin-right: 1%;
}

.contact-flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto 30px;
  align-items: flex-start;
  font-family: "Lato", sans-serif, "Helvetica Neue", sans-serif;
}

.contact-title {
  font-size: 2em;
}

.contact-form {
  padding: 20px;
  font-family: "Lato", sans-serif, "Helvetica Neue", sans-serif;
  flex: 4;
}

form {
  margin: 0 auto;
  text-align: left;
  background-color: #f5f5f7;
  line-height: 2.5em;
  border-radius: 10px;
  font-family: "Lato", sans-serif, "Helvetica Neue", sans-serif;
}

form input:active {
  border: white;
}

button[type="submit"] {
  border: solid #0b2149;
  cursor: pointer;
  border-radius: 5px;
  background: #0b2149;
  color: white;
  font-size: 0.9em;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  border-radius: 5px;
  padding: 15px;
  border: none;
  width: 95%;
  font-family: "Lato", sans-serif, "Helvetica Neue", sans-serif;
}

input[type="text"]:valid, input[type="email"]:valid,
input[type="tel"]:valid, textarea:valid {
  box-shadow: 0 1px 2px #19641e;
}

select {
  border-radius: 5px;
  color: #0b2149;
  padding: 3px 2px;
}

.error {
  color: firebrick;
  font: 12px;
}

.success {
  color: #1515a3;
  text-align: center;
  font-size: 16px;
}

div .details {
  padding: 20px;
  border: solid 2px firebrick;
  line-height: 20px;
  flex: 2;
  margin-top: 75px;
}

.details > span a {
  color: #0b2149;
}

.main-footer a {
  text-decoration: none;
  color: #444445;
}

.main-footer {
  display: flex;
  justify-content: space-between;
  background-color: #f5f5f7;
  font-size: 0.7em;
  padding: 25px;
  color: #444445;
  line-height: 2em;
  padding-top: 30px;
  padding-bottom: 30px;
  font-family: "Lato", sans-serif, "Helvetica Neue", sans-serif;
}

.cookie-container {
  font-family: "Lato", sans-serif, "Helvetica Neue", sans-serif;
  position: fixed;
  top: -100%;
  width: 100%;
  background-color: rgba(11, 33, 73, 0.9);
  color: #fff;
  padding: 0 32px;
  box-shadow: 0 -2px 16px rgba(47, 54, 64, 0.39);
  height: 20vh;
  padding-bottom: 20px;
  z-index: 99;
  transition: 400ms;
}

.cookie-container p {
  padding-top: 2em;
}

.cookie-container.active {
  top: 0;
  text-align: center;
}

.cookie-container a {
  color: #f5f6fa;
}

.cookie-btn {
  width: 15%;
  background-color: firebrick;
  border: 1px solid firebrick;
  color: #fff;
  border-radius: .25em;
  padding: .375rem .75rem;
  text-align: center;
  margin: 2px;
  font-size: 0.9em;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 4em;
}

.webdev {
  text-align: center;
  color: silver;
  font-size: 12px;
  font-style: "Lato", sans-serif, "Helvetica Neue", sans-serif;
  text-decoration-style: none;
}

.errorpage {
  text-align: center;
  padding-top: 50px;
  font-size: 1.5rem;
}

.errorpage a {
  width: 15;
  background-color: firebrick;
  border: 1px solid firebrick;
  color: #fff;
  border-radius: .25em;
  padding: .375rem .75rem;
  text-align: center;
  margin: 2px;
  font-size: 0.9em;
  display: inline-block;
}

#sitemap-title {
  text-align: center;
  color: #0b2149;
  padding-top: 30px;
  font-size: 2.8em;
}

.sitemap a {
  line-height: 30px;
  color: #0b2149;
  font-size: 1.2em;
}

.sitemap a:hover {
  padding-bottom: 2px;
  box-shadow: inset 0 -0.4rem 0 0 firebrick;
  text-decoration: none;
}

@media (max-width: 1075px) {
  #about,
  #contact,
  #landlords,
  #properties,
  #tenants, #home,
  .hide-sm,
  nav .dropdown-toggle {
    display: none;
  }
  #services-tab, #features-tab {
    display: inline-block;
  }
  .accordion {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  #secondcarousel {
    display: block;
  }
}

@media (max-width: 950px) {
  .index-title {
    padding-top: 5rem;
    font-size: 2.5rem;
  }
  .index-main {
    margin: 0 auto;
  }
  .landlord-card {
    justify-content: space-around;
  }
  .landlordcard-heading {
    font-size: 1.3em;
  }
  .index-main div:last-child,
  .introduction {
    width: 100%;
  }
  .subp-title {
    padding: 3.5rem 0 1rem;
  }
  .leftfloat-buttons,
  .rightfloat-buttons {
    width: 80%;
  }
  .leftfloat a:last-child,
  .rightfloat a:last-child {
    border: 1px solid grey;
  }
}

@media (max-width: 725px) {
  .services-index {
    padding-top: 40px;
  }
  .landlord-card > div {
    width: 90%;
    margin: 10px 5px;
  }
}

@media (max-width: 425px) {
  main {
    font-size: 0.9em;
  }
  .cookie-container {
    height: 30vh;
  }
  .cookie-btn {
    width: 40%;
  }
  #main-logo {
    width: 100%;
  }
  .dropdown .btn,
  .nav {
    font-size: 1rem;
    margin: 0 auto;
  }
  nav .btn {
    border-left: none;
  }
  .dropdown-item {
    font-size: 0.8em;
  }
  .slide1, .slide2, .slide3 {
    height: 350px;
    padding-bottom: 30px;
  }
  .index-title {
    font-size: 0.5em;
    height: 330px;
  }
  .index-title, .services-landing, .landlord-landing {
    margin-top: 1rem;
    padding-top: 1.5rem;
  }
  .services-index {
    font-size: 2.5rem;
    padding-top: .8rem;
  }
  .subp-title {
    width: 90%;
    margin: 0 auto 10px;
  }
  .index-title {
    padding-top: 1.5rem;
    font-size: 2rem;
  }
  .introduction,
  .leftfloat,
  .rightfloat, .leftfloat-buttons,
  .rightfloat-buttons, .view-cta, .about-btn {
    width: 100%;
  }
  .property-main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
  }
  .center {
    font-size: 1.2em;
  }
  .card-deck {
    padding: 5px;
  }
  .property-card {
    flex-direction: column;
    margin: auto;
  }
  .additional {
    width: 100%;
  }
  .additional a {
    width: 100%;
  }
  .additional span {
    margin: 1.3em auto;
    text-align: center;
    width: 100%;
  }
  .landlord-card > div {
    width: 90%;
  }
  .block {
    padding-top: 25px;
  }
  .btn_group {
    display: flex;
    justify-content: center;
  }
  .btn_group > .btn {
    margin-right: 3%;
  }
  footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
  }
}

@media (max-width: 360px) {
  .cookie-container {
    height: 40vh;
  }
  .cookie-btn {
    margin-bottom: 2em;
  }
  .index-title {
    padding-top: 0;
  }
  .index-title {
    padding-top: 2rem;
    font-size: 1.8rem;
  }
  .property-card {
    margin: 1em auto;
  }
  .property-card img {
    width: 99%;
  }
}

/* End dropdown */
main::after {
  content: "";
  display: table;
  clear: both;
}
